html,
body {
	height: 100%;
	color: white;
	font-size: 18px;
	font-family: Cambria, Cochin, Times, "Times New Roman", serif;
	line-height: 1.5em;
	background-color: rgb(0, 0, 0);
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.viewport {
	width: 100%;
	height: auto;

	.sticky {
		z-index: 2;
		position: absolute;
		margin-bottom: 15vmin;
		top: 16vmin;
		width: 100%;
		height: 12vh;
		background: rgba(0, 46, 59, 0.2);
		color: white;
		transition-property: "height top";
		transition-duration: 0.4s;
		box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.5);
		&--short {
			z-index: 2;
			position: fixed;
			top: 0;
			width: 100%;
			height: 8vh;
			background: rgba(0, 160, 209, 0.5);
			transition-property: "height top";
			transition-duration: 0.4s;
			-webkit-backdrop-filter: blur(2px);
			backdrop-filter: blur(12px);
			background: rgba(15, 0, 56, 0.3);
			box-shadow: 0px 5px 14px rgba(15, 0, 56, 0.5);
		}
		&__logo {
			position: fixed;
			top: 0;
			left: 0;
			height: 8vh;
			text-decoration: none;
		}
		&__logo:before {
			content: "";
			position: absolute;
			height: 8vh;
			width: 26vw;
			max-width: 182px;
			background: rgba(0, 0, 0, 0.7);
			border-radius: 2px;
			filter: blur(5px);
		}
		.logo {
			display: flex;
			justify-content: start;
			align-items: center;
			font-size: 6vmin;
			font-weight: 700;
			line-height: 1em;

			&__img {
				position: relative;
				top: 0;
				left: 0;
				height: 100%;
				padding: 3px;
			}
			&__name {
				width: 50vw;
				position: relative;
				padding-left: 5px;
				font-style: italic;
			}
			&__name--scrolling {
				width: 14vw;
				font-size: 3vmin;
			}
			&__name-1 {
				color: #2196f3;
			}
			&__name-2 {
				color: #1d83d4;
			}
		}
		&__bar {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100%;
		}
		.bar {
			&__input {
				background-color: rgba(58, 58, 0, 0.6);
				color: rgba(0, 195, 255, 0.5);
				border: none;
				width: 62vw;
				max-width: 50vw;
				height: 7vmin;
				display: block;
				font-size: 3.5vmin;
				border-radius: 5px;
				box-shadow: 0 2px 2px rgba(0, 160, 209, 0.5),
					inset 0 2px 2px rgba(255, 255, 0, 0.3);
				opacity: 0.6;
				margin: 3px;
				padding: 0.9vmin 1.3vmin;
				transition-property: "box-shadow";
				transition-duration: 0.5s;
			}
			@media (min-width: 900px) {
				&__input {
					background-color: rgba(58, 58, 0, 0.6);
					width: 72vw;
					max-width: 60vw;
					height: 8vmin;
					font-size: 4vmin;
					margin: 5px;
					padding: 1vmin 1.5vmin;
				}
				&__search-button {
					height: 2vmin;
				}
			}
			@media (max-width: 1150px) {
				&__input--scroll0 {
					margin-left: 120px;
				}
			}

			&__input:focus {
				background-color: rgba(58, 58, 0, 0.9);
				color: rgba(0, 195, 255, 1);
				box-shadow: 0 3px 5px rgb(0, 160, 209),
					inset 0 1px 2px rgba(255, 255, 0, 0.9);
				opacity: 0.8;
				transition-property: "box-shadow, opacity";
				transition-duration: 0.5s;
			}
			&__input::placeholder {
				color: rgba(255, 255, 0, 0.4);
			}
			&__submit {
				display: none;
			}
			&__search-button {
				position: relative;
				width: 8vmin;
				height: 8vmin;
				border-radius: 5px;
			}
			&__svg-button {
				stroke: none;
				fill-rule: nonzero;
				fill: rgb(255%, 255%, 0%);
				fill-opacity: 0.5;
				padding: 4px;
				width: 8vmin;
				height: 8vmin;
				filter: drop-shadow(0px 0px 3px rgba(0, 160, 209, 0.5));
				transition-property: "filter";
				transition-duration: 0.3s;
				transition-timing-function: ease-in-out;
			}
			&__button:hover {
				stroke: none;
				fill-rule: nonzero;
				fill: rgb(255%, 255%, 0%);
				fill-opacity: 0.8;
				padding: 1px;
				width: 8vmin;
				height: 8vmin;
				filter: drop-shadow(0px 0px 6px rgba(0, 160, 209, 1));
				transition-property: "filter";
				transition-duration: 0.2s;
				transition-timing-function: ease-in-out;
			}
		}
	}
	.nav {
		position: relative;
		height: 8vh;
		background-color: rgb(0, 0, 0);
		transition-property: "opacity";
		transition-duration: 1s;
		box-shadow: 0px 10px 28px 12px #000;
	}
	.footer {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 10vh;
		background: #000000;
		box-shadow: 0px -10px 28px 12px #000;
	}
}

.banner {
	width: 100%;
	max-height: 90vh;
	overflow: hidden;
	&__video {
		width: 100%;
		max-width: 100%;
		min-height: 100%;
	}
	&__img {
		width: 100%;
		height: 50%;
		object-fit: cover;
	}
}

.sandbox {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
	height: auto;
	padding: 3vh 1vw;
	background: rgb(0, 22, 29);

	&__new {
		width: 100%;
		margin: 10px;
		text-align: center;
		font-size: 28px;
		color: rgb(200, 255, 0);
	}
}

.parallax-container {
	z-index: -1;
	position: relative;
	height: 100%;
	perspective: 1px;
	transform-style: preserve-3d;
  .parallax-contain {
    background-color: rgba(0, 160, 209, 1);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    width: 100%;
    color: rgb(200, 255, 0);
  }
  .parallax-block {
    z-index: -10;
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    perspective: 1px;
    transform-style: preserve-3d;
    .parallax-background {
      background-image: url("www.jpg");
      background-position: 50% 50%;
      background-size: cover;
      position: relative;
      transform-style: preserve-3d;
      transform: translate3d(0px, 0px, 0px);
      top: 0px;
      left: 0px;
      overflow: hidden;
      height: 100%;
      width: 100%;
    }
  }
}

.card {
	position: relative;
	width: 350px;
	height: 350px;
	margin: 10px;
  border: 1px solid #000;
  &__frame {
    position: absolute;
    top: 0;
    width: 350px;
    height: 350px;
    box-shadow: inset 0 0 3px 1px rgba(173, 212, 0, 1),
      inset 0 0 5px 7px rgb(0, 0, 0);
  }
  &__img {
    position: relative;
    width: 100%;
    height: 70%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    object-fit: cover;
  }
  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 12%;
    border: 1px solid rgba(173, 212, 0, 0.6);
    font-size: 0.9em;
    text-align: center;
    line-height: 1.2em;
    color: rgba(0, 160, 209, 1);
    background-color: rgba(0, 160, 209, 0.1);
  }
  &__info {
    display: flex;
		flex-wrap: wrap;
		align-content: flex-start;
    margin: 1px 6px;
    height: 18%;
    width: 97%;
    background-color: rgba(173, 212, 0, 0.1);
  }
  &__platforms {
		height: 12px;
    margin: 1px 2px;
    padding: 0 2px;
    font-size: 10px;
    color: #000;
    text-align: center;
    background-color: rgba(173, 212, 0, 0.6);
    border: 1px solid rgba(173, 212, 0, 1);
    border-radius: 2px;
    line-height: 1em;
  }
  &__released {
    position: absolute;
    height: 7%;
    left: 0;
    bottom: 1px;
    margin: 0 10px 0px;
    font-size: 0.8em;
    color: rgba(173, 212, 0, 1);
    text-align: center;
    border-radius: 50%;
  }
  &__rating {
    position: absolute;
    width: 30px;
    height: 7%;
    right: 0;
    bottom: 1px;
    margin: 0 10px 0px;
    background-color: rgb(193, 236, 0);
    font-size: 0.8em;
    color: #000;
    text-align: center;
    border-radius: 50%;
    box-shadow: inset 0 0 3px 1px #000;
    line-height: 1.5em;
  }
  &__rating:before {
    content: "RATING: ";
    position: absolute;
    right: 34px;
    font-size: 0.8em;
    color: rgb(193, 236, 0);
  }
}

.load-more {
	display:flex;
	justify-content: center;
	width: 100%;
	&__btn {
		margin: 4vmin auto;
		padding: 2vmin 3vmin;
		color: rgba(0, 86, 112, 1);
		width: auto;
		background: linear-gradient(0deg, rgba(193, 236, 0, 0.5) 0%, rgba(0, 189, 247, 0.7) 100%);
		border-radius: 10px;
		cursor: pointer;
		font-weight: 700;
	}
}

.aboutAPI {
	width: 100%;
	height: 50vh;
	background: rgb(30, 65, 16);
}
