extends layout
block content
  .banner
    if item[0].clip != NULL
      video(class="banner__video" autoplay muted loop)
        source(src=item[0].clip.clip type="video/mp4")
    else
      img(src=item[0].background_image)
  .sandbox
    p.sandbox__item.card Title Game
    p.sandbox__item.card Title Game
    p.sandbox__item.card Title Game
    p.sandbox__item.card Title Game
    p.sandbox__item.card Title Game
    p.sandbox__item.card Title Game
    p.sandbox__item.card Title Game
    p.sandbox__item.card Title Game
    p.sandbox__item.card Title Game
    p.sandbox__item.card Title Game
    p.sandbox__item.card Title Game
    p.sandbox__item.card Title Game