
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title API
        link(rel="stylesheet" type="text/css" href="/css/main.css")
    body
        .wrapper
            h1  
                |HOME PAGE!
        a(href="/api") SHOW RESULTS FROM API