html,
body {
   height: 100%;
   color: white;
   font-size: 18px;
   font-family: Cambria, Cochin, Times, 'Times New Roman', serif;
   line-height: 1.5em;
   background-color: rgb(0, 0, 0);
}
* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

.viewport {
   width: 100%;
   height: auto;
}
.sticky {
   z-index: 2;
   position: absolute;
   margin-bottom:20vh;
   top: 20vh;
   width: 100%;
   height: 20vh;
   background: rgba(0, 0, 0, 0.5);
   color: white;
   transition-property: 'height top';
   transition-duration: 0.4s;
}
.sticky-short {
   z-index: 2;
   position: fixed;
   top: 0;
   width: 100%;
   height: 10vh;
   background: rgb(15, 0, 56);
   color: white;
   transition-property: 'height top';
   transition-duration: 0.4s;
 }
.logo{
   display: flex;
   justify-content: space-around;
   align-items: center;
   position: fixed;
   top: 0;
   height: 10vh;
   font-size: 30px;
   font-weight: 700;
   line-height: 1em;
}
.logo--scrolling{
   width: 120px;
   font-size: 16px;
}
.logo__img{
   position: relative;
   height: 10vh;
   padding: 3px;
}
.logo__name{
   position: relative;
   padding-left: 5px;
}
.logo__name--park{
   color: #2196f3;
}
.logo__name--of-games{
   color: #1d83d4;
}

.search-bar{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100%;
   margin: 0 auto;
}
.sticky__input{
   background-color: transparent;
   color: rgba(255, 255, 0, 0.8);
   border: none;
   width: 100vw;
   max-width: 70vw;
   height: 60%;
   display: block;
   font-size: 5vmin;
   border-radius: 5px;
   box-shadow: 0 3px 1px rgb(0, 160, 209), inset 0 1px 2px rgba(255, 255, 0, 0.2);
   opacity: 0.3;
   margin: 5px;
   padding: 1vmin 1.5vmin;
   transition-property: 'box-shadow';
   transition-duration: 0.5s;
}
.sticky__input:focus{
   box-shadow: 0 3px 5px rgb(0, 160, 209), inset 0 1px 2px rgba(255, 255, 0, 0.3);
   opacity: 0.6;
   transition-property: 'box-shadow, opacity';
   transition-duration: 0.5s;
   
}

.sticky__search-button{
   position: relative;
   width: 8vmin;
   height: 8vmin;
   border-radius: 5px;


}
.sticky__svg-button{
   stroke:none;
   fill-rule:nonzero;
   fill:rgb(255%,255%,0%);
   fill-opacity:0.7;

   padding: 1px;
   width: 8vmin;
   height: 8vmin;
   filter: drop-shadow(0px 0px 3px rgba(0, 160, 209, 0.5));
   transition-property: 'filter';
   transition-duration: 0.3s;
   transition-timing-function: ease-in-out;
}
.sticky__svg-button:hover{
   stroke:none;
   fill-rule:nonzero;
   fill:rgb(255%,255%,0%);
   fill-opacity:0.8;

   padding: 1px;
   width: 8vmin;
   height: 8vmin;
   filter: drop-shadow(0px 0px 6px rgba(0, 160, 209, 1));
   transition-property: 'filter';
   transition-duration: 0.2s;
   transition-timing-function: ease-in-out;

}
/* .sticky__search-button:before{
   content: '';
   display: block;
   
   background-size: cover;
   position: absolute;
   top: 0px;
   right: 0px;
   bottom: 0px;
   left: 0px;
} */

.nav{
  position: relative;
  height: 10vh;
  background-color: rgb(0, 0, 0);
  transition-property: 'opacity';
  transition-duration: 1s;
}

.banner{
  width: 100%;
  height: 90vh;
  background: rgba(69, 0, 126,0.7);
}
.sandbox{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   align-items: center;
  width: 100%;
  height: auto;
  padding: 3vh 1vw;
  background: rgb(27, 0, 77)
}
.parallax-container {
   z-index: -1;
   position: relative;
   height: 100%;
   perspective: 1px;
   transform-style: preserve-3d;
}
.parallax-contain {
   background-color: rgba(0, 160, 209, 1);
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   align-items: center;
   position: relative;
   width: 100%;

   color: rgb(200, 255, 0);
}
.card{
   width: 200px;
   height: 300px;
   margin: 10px;
   background-color: #add400;
   border: 1px solid #000;
}

.parallax-block {
   z-index: -10;
   position: absolute;
   overflow: hidden;
   width: 100%;
   height: 100%;
   top: 0px;
   left: 0px;
   perspective: 1px;
   transform-style: preserve-3d;
}
.parallax-background {
   background-image: url("www.jpg");
   background-position: 50% 50%;
   background-size: cover;
   position: relative;
   transform-style: preserve-3d;
   transform: translate3d(0px, 0px, 0px);
   top: 0px;
   left: 0px;
   overflow: hidden;
   height: 100%;
   width: 100%;
}
.aboutAPI{
   width: 100%;
   height: 50vh;
   background: rgb(30, 65, 16);
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
   width: 100%;
   height: 10vh;
   background: #add400;
}
